extends layout

block content
  div(id="container")

  div(id="p1score" class="score")
    h2 
      | Player 1:
      span(class="key") Q
      span(class="key") A
    h1 0
    h2(id="p1hit")

  div(id="p2score" class="score")
    h2 
      | Player 2:
      span(class="key") O
      span(class="key") L
    h1 0
    h2(id="p2hit")

  section(id="about")
    h2 Badfighter
    p 
      | Created by 
      a(href="http://www.samjbrenner.com", target="_blank") Sam Brenner
      |  and 
      a(href="http://michaelpallison.com/", target="_blank") Mike Allison
      |  for the Interactive 3D workgroup at 
      a(href="http://itp.nyu.edu/", target="_blank") ITP
      | . We built this using 
      a(href="http://threejs.org", target="_blank") Three.js
      |  and 
      a(href="http://chandlerprall.github.io/Physijs/", target="_blank") Physijs
      | . Please fork our 
      a(href="https://github.com/sambrenner/badfighter", target="_blank") GitHub repo
      |  and help make the game better!
    p
      | Relevant and inspiring things are 
      a(href="http://www.foddy.net/Athletics.html", target="_blank") QWOP
      | , 
      a(href="http://www.gravitysensation.com/sumotori/", target="_blank") Sumoroti Dreams
      | , 
      a(href="https://www.youtube.com/watch?v=AemxS2Xtbo8", target="_blank") The Life and Times of Qarpess
      |  and 
      a(href="https://www.youtube.com/watch?v=4-620xx7yTo", target="_blank") Carmageddon
      | .




  footer
    p 
      | by 
      a(href="http://www.samjbrenner.com", target="_blank") Sam Brenner
      |  and 
      a(href="http://michaelpallison.com/", target="_blank") Mike Allison
    ul
      li
        a(href="https://github.com/sambrenner/badfighter", target="_blank") GitHub
      li
        a(href="#", id="about_btn") About

  canvas(id="c")
  img(id="fight", src="/img/fight.png", class="hide")
  img(id="awesome", src="/img/awesome.png", class="hide")
  img(id="superAwesome", src="/img/superAwesome.png", class="hide")
  img(id="tubular", src="/img/tube.png", class="hide")
  img(id="radical", src="/img/rad.png", class="hide")
  img(id="exclaimation", src="/img/!!!.png", class="hide")
  img(id="countdown3", src="/img/3.png", class="hide")
  img(id="countdown2", src="/img/2.png", class="hide")
  img(id="countdown1", src="/img/1.png", class="hide")


  block scripts
  script(type="text/javascript", src="/javascripts/plugins/jquery-2.0.3.min.js")
  script(type="text/javascript", src="/javascripts/plugins/three.js")
  script(type="text/javascript", src="/javascripts/plugins/physi.js")
  script(type="text/javascript", src="/javascripts/app/main.js")
