extends layout

block scripts
  script(type="text/javascript", src="/javascripts/plugins/jquery-2.0.3.min.js")
  script(type="text/javascript", src="/javascripts/plugins/three.js")
  script(type="text/javascript", src="/javascripts/plugins/physi.js")
  script(type="text/javascript", src="/javascripts/app/main.js")

block content
  div(id="container")

  div(id="p1score" class="score")
    h2 
      | Player 1:
      span(class="key") Q
      span(class="key") A
    h1 0

  div(id="p2score" class="score")
    h2 
      | Player 2:
      span(class="key") O
      span(class="key") L
    h1 0
