doctype 5
html
  head
    title= title
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    block content