body { background-color: #000; font-family: Comic Sans, Comic Sans MS, cursive;}

.score { position: absolute; top: 20px; }
.score h1 { font-size: 300%; font-weight: bold; }
.score h2 { margin-bottom: 12px; }
.hide { visibility:hidden; }

.key { background-color: #E3E3E3; border-radius: 6px; display: inline-block; height: 18px; margin: 0 6px; padding: 6px; text-align: center; width: 18px; }

#p1score { color: #F30; left: 20px; }
#p2score { color: #03F; right: 20px; text-align: right; }
#c { display:none;}

footer { background-color: rgba(255,255,255,0.5); bottom: 0; padding: 4px 0; position: absolute; width: 100%; }
footer a { color: #000; }
footer p { float: left; margin-left: 20px; }
footer ul { float: right; margin-right: 20px; }
footer ul li { display: inline; margin-left: 12px; }